@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

:root {
	--fundo1: rgb(5, 25, 50);
	--fundo2: rgb(9, 51, 100);
	--fundo3: rgb(42, 122, 228);
	--fundo4: white;
	--texto1: black;
	--texto2: white;
	--texto3: gray;
}
body {
	background-color: var(--fundo4);
	color: var(--texto1);
	font-family: 'Montserrat',Arial,sans-serif;
}
a {
	text-decoration: none;
	color: inherit;
}

/* MENU */
.cabecalhoPrincipal {
	padding: 20px 0;
	background: var(--fundo1);
}
.cabecalhoPrincipal .container {
	display: flex;
	height: 50px;
	width: 85%;
	margin: 0 auto;
	align-items: center;
	justify-content: space-between;
}
.cabecalhoPrincipal-titulo {
	font-weight: bold;
	font-size: 2em;
	color: var(--texto2);
	display: flex;
}
.cabecalhoPrincipal-nav-link {
	padding: 2px;
	color: var(--texto2);
	font-weight: bold;
	margin: 0 15px;
	border-bottom: 2px solid transparent;
	transition: .5s;
}
.cabecalhoPrincipal-nav-link:first-child {
	margin-left: 0;
}
.cabecalhoPrincipal-nav-link:last-child {
	margin-right: 0;
}
.cabecalhoPrincipal-nav-link:hover {
	color: var(--texto2);
	text-shadow: 0 0 1px var(--texto2);
	border-bottom: 2px solid var(--texto2);
}

/* CONTEUDO */
.conteudoPrincipal {
	margin: 30px auto;
}
.subtitulo {
	font-weight: bold;
	font-size: 32px;
	text-align: center;
}
.conteudoPrincipal>.container>.subtitulo {
	padding-top: 30px;
}
.subtitulo::before {
	content: '[ ';
}
.subtitulo::after {
	content: ' ]';
}

/* NOSSOS CURSOS */
.conteudoPrincipal-cursos {
	display: flex;
	flex-wrap: wrap;
	margin: 40px auto 70px auto;
	width: 75%;
}
.conteudoPrincipal-cursos-link {
	display: flex;
	position: relative;
	height: 100px;
	background-color: var(--fundo4);
	text-align: center;
	border: 2px solid var(--texto3);
	flex-basis: 23.5%;
	margin:1%;
	border-radius: 10px;
	box-sizing: border-box;
	transition: .5s;
}
.conteudoPrincipal-cursos-link:nth-child(4n) {
	margin-right: 0;
}
.conteudoPrincipal-cursos-link:nth-child(4n+1) {
	margin-left: 0;
}
.conteudoPrincipal-cursos-link:nth-child(-n+4) {
	margin-top: 0;
}
.conteudoPrincipal-cursos-link:nth-last-child(-n+2) {
	margin-bottom: 0;
}
.conteudoPrincipal-cursos-link:hover {
	border: 2px solid var(--texto1);
	transform: scale(1.08);
}
.conteudoPrincipal-cursos-link a {
	font-weight: bold;
	display: block;
	width: 100%;
	height: 100%;
	position: absolute;
}
.conteudoPrincipal-cursos-link a:before {
	content: '';
	display: block;
	width: 50px;
	height: 50px;
	margin: 10px auto;
}
.conteudoPrincipal-cursos-link:nth-child(even) a:before {
	background: url(../img/background1.svg) no-repeat;	
}

.conteudoPrincipal-cursos-link:nth-child(odd) a:before {
	background: url(../img/background2.svg) no-repeat;
}

/* MAPA DE CURSOS */
.mapaCursos {
	box-shadow: 0px 0px 30px var(--fundo3);
	background-color: var(--fundo2);
	padding: 50px 0;
}
.mapaCursos .container{
	margin: 0 auto;
	width: 75%;
}
.mapaCursos .subtitulo {
	color: var(--texto2);
}
.cursos-mapaCursos {
	color: var(--texto2);
	margin-top: 10px;
	font-size: .9em;
}
.lista-mapaCursos-titulo {
	font-weight: 700;
	font-size: 1.3em;
	margin: .9em 0;
	padding-left: .3em;
	padding-top: .2em;
	padding-bottom: .2em;
}
.lista-mapaCursos-titulo + .cursos-mapaCursos {
	margin-top: 0;
}

.lista-mapaCursos-bancoDeDados { color: #EC6E5A; border-left: 4px solid #EC6E5A; }
.lista-mapaCursos-framework { color: #AD85BF; border-left: 4px solid #AD85BF; }
.lista-mapaCursos-frontend { color: #5EC6F3; border-left: 4px solid #5EC6F3; }
.lista-mapaCursos-backend { color: #25D285; border-left: 4px solid #25D285; }

.lista-mapaCursos ul {
	display: flex;
	flex-flow: row wrap;
	margin: 40px auto 0 auto;
	width: 100%;
	justify-content: space-between;
}

.lista-mapaCursos li {
	display: flex;
	flex-direction: column;
}

/* VANTAGENS */
.videoSobre {
	background: var(--fundo4);
	margin: 70px auto;
}
.videoSobre .container {
	display: flex;
	margin: 0 auto;
	width: 75%;
	flex-flow: row wrap;
	align-items: center;
}
.videoSobre-video {
	flex-basis: 1;
	min-width: 48%;
	max-width: 75%;
	min-height: 23vw;
	max-height: 40vw;
	margin: 0 auto 50px auto;
	border-radius: 15px;
	flex-grow: 2;
	box-shadow: 0 0 10px white;
	box-shadow: 0px 0px 10px var(--fundo3);
}
.videoSobre-sobre {
	display: flex;
	flex-basis: 1;
	flex-direction: column;
	align-items: center;
	margin: 0 0 50px 25px;
	flex-grow: 1;
	font-size: 1.3em;
	line-height: 2;
	color: var(--texto1);
}
.videoSobre-sobre-list {
	padding: 5px 0 20px 20px;
	text-align: justify;
	list-style: square;
}
.videoSobre-button {
	border-radius: 8px;
	background-color: var(--fundo2);
	width: 50%;
	color: var(--texto2);
	border: none;
	height: 50px;
	font-size: 1em;
	transition: .5s;
}
.videoSobre-button:hover {
	cursor: pointer;
	transform: scale(1.02);
	box-shadow: 0px 0px 10px var(--fundo3);
}

/* RODAPÉ */
.rodape {
	margin-top: 30px;
	background: var(--fundo1);
	color: var(--texto2);
}
.rodape .container {
	padding: 20px 0;
}
.lista-rodape {
	display: flex;
	height: 50px;
	width: 85%;
	margin: 0 auto;
	align-items: center;
	justify-content: space-around;
}